.cart-arrow-up::before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: white;
  position: absolute;
  top: -7.5px;
  right: 55.5px;
  rotate: 45deg;
  border-radius: 2px;
  border-top: 1px solid black;
  border-left: 1px solid black;
}
